@font-face {
    font-family: 'AirbnbCerealW';
    src: url('./imagenes/airbnb/AirbnbCereal_W_Bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCerealW';
    src: url('./imagenes/airbnb/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: 300; /* Book or Thin */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCerealW';
    src: url('./imagenes/airbnb/AirbnbCereal_W_Blk.otf') format('opentype');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCerealW';
    src: url('./imagenes/airbnb/AirbnbCereal_W_Lt.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCerealW';
    src: url('./imagenes/airbnb/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCerealW';
    src: url('./imagenes/airbnb/AirbnbCereal_W_XBd.otf') format('opentype');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;/* Evita el scroll horizontal, pero permite el scroll vertical */
    font-family: 'AirbnbCerealW', sans-serif;
    font-weight: 300;
    height: 100%;
}

strong {
    font-weight: 800;
    color: rgb(137, 196, 48);
    font-size: 5vw;
}

a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Quita el subrayado predeterminado */
}

a:hover {
    color: inherit; /* Mantiene el mismo color al pasar el mouse */
    text-decoration: underline; /* O puedes aplicar un subrayado u otro estilo si deseas */
}

a:visited {
    color: inherit; /* Mantiene el color para enlaces visitados */
}

a:active {
    color: inherit; /* Mantiene el color cuando el enlace está activo */
}

.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.section-small {
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(62, 100, 62);
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + 0.5vw);
    display: flex;
    color: #eee;

}

 .contentsmall div {
    font-size: calc(2rem + 1vw);
    font-weight: 800;
}

.contentsmall {
    padding: 30px 30px;
}

.background-image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el ícono está sobre otros elementos */
}

.top-nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    /*transition: top 0.5s ease;*/
    display: block; /* Cambiado para que siempre esté presente pero oculto */
    height: 60px; /* Define un alto específico */
    opacity: 0; /* Inicialmente transparente */
    pointer-events: none; /* Inicialmente no permite interacción */
    transition: opacity 0.5s ease;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.top-nav li {
    display: inline-block;
    margin-right: 20px;
}

.top-nav a {
    text-decoration: none;
    color: black;
    font-size: calc(0.7rem + 0.5vw);
}

.top-nav.active {
    opacity: 1; /* Se vuelve visible al hacer click */
    pointer-events: auto; /* Permite la interacción cuando está activa */
}



/* Estilos para la sub-sección */
.sub-section {
    position: fixed; /* Fijo para cubrir toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Filtro negro semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none; /* Hace que la sub-sección no interfiera con los eventos del mouse */
    transition: opacity 0.3s ease;
    z-index: 1000; /* Asegura que está por encima de todo */
}

.sub-section.active {
    opacity: 1;
    pointer-events: auto; /* Permite la interacción cuando está activa */
    
}

.show-btn {
    position: absolute;
    bottom: 10%;
    background-color: rgb(0, 0, 0);
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid transparent;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    z-index: 1001; /* Asegura que el botón está sobre otros elementos */
    transition: all 0.3s ease;
    animation: glow 1.5s infinite alternate;
}

.show-btn::after {
    position: absolute;
    border-radius: 30px;
    border: 2px solid;
    border-color: transparent;
    animation: glow-border 1.5s infinite alternate;
}


.show-btn:hover {
    background-color: rgba(34, 34, 30, 0.5);
}


@keyframes glow {
    from {
        box-shadow: 0 0 20px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.3);
    }
    to {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes glow-border {
    from {
        border-color: rgba(255, 215, 0, 0.5);
    }
    to {
        border-color: rgba(0, 0, 0, 0.5);
    }
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.overlay-content {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.names-list {
    flex: 1;
    margin-right: 20px;
}

.names-list ul {
    list-style: none;
    padding: 0;
}

.names-list li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 5vw;
    color: #0C8ABD;
}

.names-list li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



.content-display {
    flex: 2;
    padding: 20px;
    font-size: 1.6vw;
    
}

/* Estilos para el slider */
.slider {
    width: 600px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 600px;
    height: 800px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2.5rem + 1vw);
}

.slider img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Filtro negro semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}



.overlay-text {
    text-align: center;
    font-family: "AirbnbCerealW", sans-serif;
    color: green;
}

.slides > div:hover .overlay {
    opacity: 1;
}

/* Actualización para botones del slider */
.slider > button {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    border: none;
    cursor: pointer;
}

.slider > button:active {
    top: 1px;
}

.slider > button:focus {
    background: #000;
}

#section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./imagenes/noche.png');
    font-family: 'Ropa Sans', sans-serif;
}

/* Estilos para la sección 3 */

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

#section3 .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    color: white;
    background-color: #171617;
}

#section3 .content-image {
    width: 40%;
    height: auto;
    margin-right: 20px;
    animation: float 2s infinite;
}

#section3 .content-text {
    width: 60%;
    text-align: left;
    font-size: calc(1rem + 1vw);
    line-height: 1.6;
}

/* Estilos para la sección 4 */
#section4 {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ajusta la altura según sea necesario */
    position: relative;
    background-color: #171617;
}

#section4 .video-container {
    flex: 0 0 200px; /* Ajusta el tamaño del contenedor del video */
    margin-left: 40px; /* Espacio desde el borde izquierdo */
    height: 60%; /* Altura del video */
}

#section4 .video-container video {
    width: 140%;
    height: 100%; /* Hacer el video más alto */
}

#section4 .image-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
}

#section4 .image-wrapper {
    position: relative;
    width: 80%; /* Ajusta el ancho de la imagen */
    height: auto;
}

#section4 .image-wrapper img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    transition: all 0.3s ease;
    position: relative; /* Cambia a relative para que se ajuste correctamente */
}

#section4 .image-wrapper:hover img {
    filter: brightness(0.5);
}

#section4 .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#section4 .image-wrapper:hover .image-overlay {
    opacity: 1;
}

#section4 .image-overlay-text {
    text-align: center;
    font-size: 2vw; /* Ajusta el tamaño del texto según sea necesario */
    padding: 10vw;
}
/* Estilos para la sección 5 */

#section5 {
    display: flex;
    flex-direction: row-reverse; /* Invierte la disposición de los elementos */
    align-items: center; /* Centra el contenido verticalmente */
    min-height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana */
    position: relative;
    background-color: #171617;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

#section5 .image-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start; /* Alinea la imagen al inicio del contenedor */
    align-items: flex-end;
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
}

#section5 .image-wrapper {
    position: relative;
    width: 80%; /* Ajusta el ancho de la imagen */
    height: auto;
}

#section5 .image-wrapper img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    transition: all 0.3s ease;
    position: relative; /* Cambia a relative para que se ajuste correctamente */
}

#section5 .image-wrapper:hover img {
    filter: brightness(0.5);
}

#section5 .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#section5 .image-wrapper:hover .image-overlay {
    opacity: 1;
}

#section5 .image-overlay-text {
    text-align: center;
    font-size:  2vw; /* Ajusta el tamaño del texto según sea necesario */
    padding: 10vw;
}

#section5 .video-container {
    flex: 0 0 200px; /* Ajusta el tamaño del contenedor del video */
    margin-right: 140px; /* Espacio desde el borde derecho */
    height: 60%; /* Altura del video */
}

#section5 .video-container video {
    width: 140%;
    height: 100%; /* Hacer el video más alto */
}



/* Estilos para la sección 6 */


#section6 {
    width: 100%;
    padding: 20px; /* Añadir un poco de padding para darle espacio al contenido */
    box-sizing: border-box !important;
    overflow-y: hidden;
    background-color: #171617;
     /* Asegura que el padding no aumente el ancho */
}
  
  #section6 .gallery-track {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;
  }
  
  #section6 .card {
    height: 400px;
    overflow: hidden;
  }
  
  #section6 .card .card-image-wrapper {
    height: 135%;
    will-change: transform;
  }
  
  #section6 .card .card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 800px) {
    #section6 .gallery-track {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 550px) {
    #section6 .gallery-track {
      grid-template-columns: repeat(1, 1fr);
    }
  }

    /* Estilos para la sección 7 */
    #section7 {
        height: 100vh;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    #section7 main {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
      }
      
      #section7 .item {
        width: 200px;
        height: 300px;
        list-style-type: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-position: center;
        background-size: cover;
       
        box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
        transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
      
        &:nth-child(1), &:nth-child(2) {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transform: none;
          border-radius: 0;
          box-shadow: none;
          opacity: 1;
        }
      
        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 220px); }
        &:nth-child(5) { left: calc(50% + 440px); }
        &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
      }
      
      #section7 .content {
        width: min(30vw,400px);
        position: absolute;
        top: 50%;
        left: 3rem;
        transform: translateY(-50%);
        /*font: 400 0.85rem helvetica,sans-serif;*/
        color: white;
        text-shadow: 0 3px 8px rgba(0,0,0,0.5);
        opacity: 0;
        display: none;
      
        & .title {
          font-weight: 800;
          text-transform: uppercase;
        }
      
        & .description {
          line-height: 1.7;
          margin: 1rem 0 1.5rem;
          font-size: 1.2rem;
        }
      
        & button {
          width: fit-content;
          background-color: rgba(0,0,0,0.1);
          color: white;
          border: 2px solid white;
          border-radius: 0.25rem;
          padding: 0.75rem;
          cursor: pointer;
        }
      }
      
      #section7 .item:nth-of-type(2) .content {
        display: block;
        animation: show 0.75s ease-in-out 0.3s forwards;
      }
      
      @keyframes show {
        0% {
          filter: blur(5px);
          transform: translateY(calc(-50% + 75px));
        }
        100% {
          opacity: 1;
          filter: blur(0);
        }
      }
      
      #section7 .nav {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        user-select: none;
      
        & .btn {
          background-color: rgba(255,255,255,0.5);
          color: rgba(0,0,0,0.7);
          border: 2px solid rgba(0,0,0,0.6);
          margin: 0 0.25rem;
          padding: 0.75rem;
          border-radius: 50%;
          cursor: pointer;
      
          &:hover {
            background-color: rgba(255,255,255,0.3);
          }
        }
      }
      
      @media (width > 650px) and (width < 900px) {
        #section7 .content {
          & .title        { font-size: 1rem; }
          & .description  { font-size: 0.7rem; }
          & button        { font-size: 0.7rem; }
        }
        #section7 .item {
          width: 160px;
          height: 270px;
      
          &:nth-child(3) { left: 50%; }
          &:nth-child(4) { left: calc(50% + 170px); }
          &:nth-child(5) { left: calc(50% + 340px); }
          &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
        }
      }
      
      @media (width < 650px) {
        #section7 .content {
          & .title        { font-size: 0.9rem; }
          & .description  { font-size: 0.8rem; font-weight: 300; }
          & button        { font-size: 0.7rem; }
          left: 0.5rem;
          width: min(42vw,300px);
          background-color: rgba(0, 0, 0, 0.6);
          padding: 5px;
        }
        #section7 .item {
          width: 130px;
          height: 220px;
      
          &:nth-child(3) { left: 50%; }
          &:nth-child(4) { left: calc(50% + 140px); }
          &:nth-child(5) { left: calc(50% + 280px); }
          &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
        }
      }
 /* Estilos para la sección 8 */
#section8 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    justify-content: flex-start; /* Alinea los elementos al inicio de la columna */
    align-items: center;
    overflow: hidden;
}

#section8 .background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#section8 .cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 3s ease-in-out; /* Transición para el desvanecimiento */
}

#section8 .cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section8 .cover-image.fade-out {
    opacity: 0; /* Desvanece la imagen */
}

#section8 .cover-image.hidden {
    z-index: -1;
}


#section8 .content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 1s ease 1s; /* Transición para la opacidad, con un retraso */
}

#section8 .content.visible {
    opacity: 1; /* Hace visible el contenido */
    z-index: 4;
}

#section8 .slider-container {
    position: relative;
    text-align: center;
    z-index: 1; /* Asegura que el slider esté por encima de la imagen de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Ajusta este valor según sea necesario */
    margin-top: 10vw; /* Asegura que el slider se coloca en la parte superior */
}

#section8 .slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#section8 .slider-controls button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    margin: 0 20px;
}

#section8 .slider-controls #constellationName {
    font-size: 2rem;
    color: white;
}

#section8 .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto; /* Empuja el contenedor de la imagen hacia abajo */
}

#section8 .image-container img {
    max-width: 40%;
    height: auto;
}

/* Estilos para la sección 9 */

#section9 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
}

#section9 .image-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    height: 50vw;
}

#section9 .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section9 .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: calc(0.8rem + 0.5vw);
}

#section9 .image-container:hover .overlay {
    opacity: 1;
}

#sectionsmall3 {
    background-color: rgb(102, 153, 174) !important;

}

#sectionsmall3 .contentsmall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sectionsmall3 .contentsmall p {
    font-size: calc(0.9rem + 0.3vw);
}

#sectionsmall3 .contentsmall h2 {
    font-size: calc(1.0rem + 0.5vw);
    text-align: center;
}

#sectionsmall3 span {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    
}

 
    
      @media only screen and (max-width: 767px) {

        /* Estilos para la sección 1 */
        #section1 .background-image {
            content: url('./imagenes/celularbackground.png');
            
        }

        #section1 .content-display {
            padding: 0;
        }

        /* Estilos para la sección 4 */

        #section4 {
            flex-direction: column; /* Cambia la dirección del flex a columna */
            align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
            height: auto; /* Ajusta la altura automáticamente */
            padding-bottom: 50px;
        }
    
        #section4 .video-container {
            flex: 1;
            width: 100%; /* El video ocupa todo el ancho */
            margin: 0; /* Elimina el margen */
            height: auto; /* Ajusta la altura automáticamente */
        }
    
        #section4 .video-container video {
            width: 100%; /* El video ocupa todo el ancho */
            height: auto; /* Ajusta la altura automáticamente */
        }
    
        #section4 .image-container {
            flex: 1;
            width: 100%; /* La imagen ocupa todo el ancho */
            justify-content: center; /* Centra el contenido horizontalmente */
            align-items: center; /* Centra el contenido verticalmente */
            height: auto; /* Ajusta la altura automáticamente */
            margin-top: 20px; /* Añade un margen superior para separarlo del video */
        }
    
        #section4 .image-wrapper {
            width: 100%; /* La imagen ocupa todo el ancho */
        }
    
        #section4 .image-overlay-text {
            font-size: 3vw; /* Ajusta el tamaño del texto para dispositivos móviles */
            padding: 5vw; /* Reduce el padding en dispositivos móviles */
        }

    /*Seccion 5*/
    #section5 {
        flex-direction: column-reverse; /* Cambia la dirección del flex a columna inversa */
        align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
        height: auto; /* Ajusta la altura automáticamente */
       min-height: 0;
       gap: 20px;
    }

    #section5 .video-container {
        flex: 1;
        width: 100%; /* El video ocupa todo el ancho */
        margin: 0; /* Elimina el margen */
        height: auto; /* Ajusta la altura automáticamente */
    }

    #section5 .video-container video {
        width: 100%; /* El video ocupa todo el ancho */
        height: auto; /* Ajusta la altura automáticamente */
    }

    #section5 .image-container {
        flex: 1;
        width: 100%; /* La imagen ocupa todo el ancho */
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        height: auto; /* Ajusta la altura automáticamente */
        margin-top: 20px; /* Añade un margen superior para separarlo del video */
    }

    #section5 .image-wrapper {
        width: 100%; /* La imagen ocupa todo el ancho */
    }

    #section5 .image-overlay-text {
        font-size: 3vw; /* Ajusta el tamaño del texto para dispositivos móviles */
        padding: 5vw; /* Reduce el padding en dispositivos móviles */
    }

    /*Seccion 3*/

    #section3 .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        color: white;
        background-color: #171617;
        padding-top: 4vw;
    }
    
    #section3 .content-image {
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    #section3 .content-text {
        width: 60%;
        text-align: left;
        line-height: 1.6;
        width: auto;
        font-size: 1rem;
        padding: 10px 10px;
        padding-bottom: 50px;
    }

    /*Seccion Slider*/

    .slides > div {
        width: 400px;
        height: 600px;
    }

    .slider {
        width: 400px;
    }

    #section8 .image-container img {
        max-width: 100%;
    }

    #section8 .slider-container {
        width: 90%;
        margin-top: 30vw;
    }


}